* {margin: 0; padding: 0;box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}
body 
{
  background: #000;
  color: #fff;
   min-height: 100vh;
}
.hero 
{
  min-height: 100vh;
  background: url("fon.jpg.png") center/cover no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
}
.hero-content 
{
  flex: 1; /* ключевая строка */
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 18px;
  padding: 0 20px;
}
.hero-overlay 
{
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.85)
  );
}
/* TOP BAR */
.top-bar 
{
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
}
.logo
{
  font-size: 32px;
  color: #45d7dc;
  letter-spacing: 4px;
}
.top-actions 
{
  display: flex;
  gap: 14px;
}
.lang 
{
  background: rgba(0,0,0,0.6);
  border: 1px solid #aaa;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
}
.sign-in 
{
  display: inline-block;      
  width: 40px;                
  height: 40px;              
  background-image: url('аватарка.jpeg');
  background-size: cover;    
  background-position: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  background-image: url('аватарка.jpeg');
}
.sign-in:hover
 {
  border: 2px solid #ffffff;  
  box-shadow: 0 0 8px #f1feff;
}
/* CENTER CONTENT */
.hero-content 
{
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 18px;
  padding: 0 20px;
}
.hero-content h1
 {
  font-size: 44px;
  font-weight: 700;
  max-width: 820px;
}
.hero-content .sub 
{
  font-size: 20px;
  opacity: 0.9;
}
.hero-content .hint 
{
  font-size: 16px;
  opacity: 0.8;
}
.cta
{
  margin-top: 10px;
  background: #2bc0c7;
  border: none;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}
.cta span
 {
  margin-left: 6px;
}
.cta:hover
{
  background: #3becf5;
}
/* MOBILE */
@media (max-width: 768px) {
  .top-bar {
    padding: 16px;
  }

  .logo {
    font-size: 22px;
  }

  .hero-content h1 {
    font-size: 30px;
  }

  .hero-content .sub {
    font-size: 17px;
  }
}

/* FEATURES */
.feature 
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 10%;
  border-top: 1px solid #222;
  background: #000;
}
.feature.reverse 
{
  flex-direction: row-reverse;
}
.feature-text 
{
  max-width: 480px;
}
.feature-text h2 
{
  font-size: 38px;
  margin-bottom: 12px;
}
.feature-text p 
{
  font-size: 18px;
  color: #b3b3b3;
  line-height: 1.4;
}
.feature-media img 
{
  max-width: 420px;
  width: 100%;
}
/* FINAL CTA */
.final-cta 
{
  text-align: center;
  padding: 80px 20px;
  border-top: 1px solid #222;
  background: #000;
}
.final-cta h2 
{
  font-size: 32px;
  margin-bottom: 20px;
}
.cta-btn 
{
  background: #2bc0c7;
  border: none;
  padding: 14px 36px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}
.cta-btn:hover
{
    background: #3becf5;
}
/* FOOTER */
.footer
 {
  padding: 60px 10%;
  background: #000;
  border-top: 1px solid #222;
  color: #ffffff;
  font-size: 14px;
}
.footer-links
 {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
}
.footer-links span
{
  cursor: pointer;
}
.footer-links span:hover 
{
  text-decoration: underline;
  color: #fff;
}

/* MOBILE */
@media (max-width: 768px)
 {
  .feature,
  .feature.reverse {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .feature-text h2 {
    font-size: 28px;
  }

  .feature-text p {
    font-size: 16px;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
  }
}
