body 
{
     background:rgb(41, 75, 78); 
     font-family:Arial,sans-serif; 
     color:#eaeef3; 
 }
.card 
{ 
     max-width:380px; 
     margin:160px auto;
     padding:20px; 
     background:rgb(46, 99, 103); 
     border-radius:14px; 
}
.title 
{
    font-size:1.25rem; 
    font-weight:700; 
    margin-bottom:8px;  
}
.subtitle 
{
     color:#bac1cb; 
     margin-bottom:18px;
}
.profile 
{
     display:flex; 
     gap:12px; 
     margin-bottom:16px; 
}
.avatar 
{ 
    width:48px; 
    height:48px; 
    border-radius:12px; 
    background:#0f1624; 
    display:grid; 
    place-items:center; 
    color:#b8c0cc; 
}
.avatar:hover
{
background:#233559; 
}
.id .name 
{ 
    font-weight:700; 
}
.id .handle 
{ 
    color:#b8c0cc; 
    font-size:.93rem; 
}
.btn 
{     
    display:block; 
    margin-top:10px; 
    padding:12px; 
    background:transparent; 
    color:rgba(152, 196, 202, 1);
    text-decoration:none; 
    border: 2px solid #fff; 
    border-radius: 12px;  
    text-align:center; 
}
.btn:hover
{
        background:rgb(255, 255, 255); 
}
.foot 
{     
    margin-top:18px; 
     color:#b8c0cc;
}
.foot a 
{
    color:#4aa3ff; 
 }

 /* Телефони */
@media (max-width: 480px) {

  /* Зменшуємо відстань зверху, щоб картка не висіла */
  .card {
    width: 90%;
    margin: 60px auto;
    padding: 15px;
  }

  /* Заголовки */
  .title {
    font-size: 1.1rem;
    text-align: center;
  }

  .subtitle {
    font-size: 0.9rem;
    text-align: center;
  }

  /* Профіль */
  .profile {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .id .name, 
  .id .handle {
    text-align: center;
    font-size: 0.85rem;
  }

  /* Кнопка */
  .btn {
    width: 100%;
    padding: 10px 0;
    font-size: 13px;
  }

  /* Футер */
  .foot {
    text-align: center;
    font-size: 12px;
  }

  .foot a {
    font-size: 12px;
  }
}
